---
import Header from "@/layouts/Header.astro";
import Footer from "@/layouts/Footer.astro";

import "../styles/global.css";
import MobileBottomNav from "./mobile-bottom-nav.astro";

// import "@workspace/ui/styles/globals.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Vitamin store</title>
  </head>
  <body>
    <Header />
    <slot />
    <MobileBottomNav currentPage={Astro.url.pathname} />
    <Footer />
    <style is:global>
      body {
        padding-bottom: 5rem; /* Add space at the bottom */
      }
      @media (min-width: 768px) {
        /* Corresponds to md: breakpoint */
        body {
          padding-bottom: 0; /* Remove space on larger screens */
        }
      }
    </style>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
