---
import Layout from '../layouts/Layout.astro';
import trpc from '../utils/trpc';

// const message = await trpc.cart.hello.query({ text: "fjiowf ewomf" });
---

<Layout>
	<p>EIFPwfom</p>
</Layout>
