---
// export const prerender = false;
import { auth } from "../lib/auth";



const user = await auth();

console.log("🔴 Session result:", user);
if (!user) {
  console.log("No session found");
  return Astro.redirect("/auth/login");
}
---
<div>
    <button type="submit">Logout</button>
  <div>Profile page {user.phone}</div>
</div>
