---
// export const prerender = false;
import { auth } from "../lib/auth";

   const cookies=Astro.cookies;
   cookies.set('test', 'test123',{
    httpOnly: true,
    secure: true,
    sameSite: 'none', // Changed from 'strict' to 'none' for cross-origin support
    maxAge: 60 * 60 * 24 * 30, // 30 days
   })
   console.log("🔴 Cookies:", cookies);
   console.log("🔴 Cookies:", cookies.get('store_session'));
const user = await auth();

console.log("🔴 Session result:", user);
if (!user) {
  console.log("No session found");
  return Astro.redirect("/auth/login");
}
---
<div>
    <button type="submit">Logout</button>
  <div>Profile page {user?.phone}</div>
</div>
